DB_NAME=famedu
DB_USER=fameduuser
DB_PASSWORD=famedu_pass
DB_HOST=postgres
DB_PORT=5432
DB_EXTERNAL_PORT=5433

REDIS_PORT=6379
REDIS_EXTERNAL_PORT=6380

DJANGO_SECRET_KEY=

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=admin
DJANGO_SUPERUSER_EMAIL=admin@gmail.com
