{% extends "registration_app/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}
<h1>{{step_title}}</h1>
<p>Шаг {{ wizard.steps.step1 }} из {{ wizard.steps.count }}</p>
<form action="" method="post">{% csrf_token %}
<table>
{{ wizard.management_form }}
{% if wizard.form.forms %}
    {{ wizard.form.management_form }}
    {% for form in wizard.form.forms %}
        {{ form }}
    {% endfor %}
{% else %}
    {{ wizard.form }}
{% endif %}
</table>
{% if wizard.steps.prev %}
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% translate "Первый шаг" %}</button>
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% translate "Назад" %}</button>
{% endif %}
{% if wizard.steps.step1 == wizard.steps.count %}
    <input type="submit" value='{% translate "Подтвердить" %}'/>
{% else %}
    <input type="submit" value='{% translate "Далее" %}'/>
{% endif %}
</form>
{% endblock %}

{% block scripts %}
<script>
    $("#id_0-applicant").select2();
    $("#id_0-representative").select2();
    $("#id_0-student").select2();
</script>
{% endblock %}