{% extends "registration_app/base.html" %}

{% block content %}

<style>
    td {
        border: 3px black solid;
    };
</style>

<h1>Отчет</h1>
<table>
    <tr>
        <td>Дата</td>
        <td>Заявитель</td>
        <td>Второй представитель</td>
        <td>Ученик</td>
        <td>Место перевода</td>
    </tr> 
    {% for record in reported_records %}
        <tr>
            <td>{{record.date}}</td>
            <td>{{record.applicant.credentials}}</td> 
            <td>{{record.representative.credentials}}</td>  
            <td>{{record.student.credentials}}</td>
            <td>{{record.cur_school}}, {{record.grade}} класс</td>
        </tr>
    {% empty %}
        Пусто
    {% endfor %}
</table>

{% endblock %}